.container {
    display: flex;
}

.cards {
    border: solid;
    background-color: none;
    width: 300px;
    padding: 10px;
    margin: 10px;
}
.cards img {
    object-fit: contain;
    width: 180px;
    border: 0px;
    padding: 0px;
}
